.footerDiv{
    width: 100%;
    color:white;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom:10px;
}
.centerFooter{
    display: flex;
    align-items: center;
}
.centerFooter a,p{
    margin:0px 30px;
    font-size: small;
    text-decoration: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.footerLogo{
    position: fixed;
    bottom: 0px;
    right:10px;
    cursor: pointer;
}
.winningsDiv{
    position: fixed;
    left: 15px;
    bottom: 10px;
}
.affBtn{
    color:rgb(255, 255, 255);
    letter-spacing: .1rem;
    font-size: 0.8rem;
    margin-left: 15px;
    position: relative;
}
.affBtn p{
    margin:0px;
    cursor: pointer;
}
.affModal{
    top:12.5%;
    left:12.5%;
    width: 75%;
    height: 75%;
    background-color: black;
    border:white solid 2px;
    position: fixed;
    border-radius: 30px;
    padding:25px;
}
.affModal input{
    color: black;
    width: 75%;
    padding:10px;
    border-radius: 15px;
}
#copyButton{
    margin-left: 15px;
    padding:10px;
    border-radius: 15px;
    border: white solid 2px;
}
#copyButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: black solid 2px;

}
.toprowAff{
    display: flex;
    justify-content: space-between;
}
.toprowAff button{
    padding:10px 15px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 15px;
    font-size: 1.5rem;

}
.toprowAff button:hover {
    background-color: black;
    color: white;
}