.footerDiv{
    width: 100%;
    color:white;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom:10px;
}
.centerFooter{
    display: flex;
    align-items: center;
}
.centerFooter a,p{
    margin:0px 30px;
    font-size: small;
    text-decoration: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.footerLogo{
    position: fixed;
    bottom: 0px;
    right:10px;
    cursor: pointer;
}
.winningsDiv{
    position: fixed;
    left: 15px;
    bottom: 10px;
}
.affBtn{
    color:rgb(255, 255, 255);
    letter-spacing: .1rem;
    font-size: 0.8rem;
    margin-left: 15px;
    position: relative;
}
.affBtn p{
    margin:0px;
    cursor: pointer;
}
.affModal{
    top:-50px;
    left:-150px;
    width: 1000px;
    position: absolute;
}