.SelectBetModal{
    position: absolute;
    width: 517.55px;
    height: auto;
    padding:20px;
    border:solid white 0.5px;
    border-radius: 25px;
}
.SelectBetModal h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
}
.SelectBetModal p{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05rem;
    color: #FFFFFF;
    
    opacity: 0.64;
}
.activeSliderContainer{
    width: 100%;
}

.sliderDiv{
    align-self: flex-start;
    position: absolute;
    align-items: center;
    display: flex;
    flex-basis: left;
    width: var(--width);
    height: 15px;
    border-radius: 20px;
    z-index: 4;
    background-color: yellow;

}
#betSizeSlider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height:  6.52px; /* Specified height */
    background-color: #222222;
    outline: rgba(255, 255, 255, 0.47) 1px solid; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 15px;
    z-index: 2;
}

#betSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: flex;
    appearance: none;
    width: 45px;
    height: 45px;
    opacity: 1;
    background: url('../../../img/flippur.png');
    cursor: pointer;
    background-size: 50px;
    z-index: 5;
  }
.percentButtons{
    margin-top: 25px;
    width: 80%;
    display: flex;
    justify-content: space-between
}

.percentButtons button{
    cursor: pointer;
    width: 47.9px;
    height: 25.98px;
    left: 582.72px;
    top: 457.37px;
    color:white;
    background: #070707;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    border-radius: 15px;
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 11px;

color: #FFFFFF;

}
.sliderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#confirmBetButton{
    width: 106px;
    height: 39px;
    left: 667px;
    top: 624px;
    
    background: #EFB910;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-sizing: border-box;
    border-radius: 30px;
    margin: 20px 20px;
    cursor: pointer;
}

.centerDiv{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.centerDiv input {
    width:auto;
    padding:20px;
    margin-top:25px;
    background-color: black;
    border: rgba(255, 255, 255, 0.658) solid 1px;
    color:white;
    border-radius: 25px;
}