body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background-color: black;
  font-family: "Poppins", Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.socialIcon {
  width: 25px;
  height: 25px;
}

.socialIcon img {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica-Light.woff2") format("woff2"),
    url("./fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica-Compressed.woff2") format("woff2"),
    url("./fonts/Helvetica-Compressed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica-Oblique.woff2") format("woff2"),
    url("./fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaRounded-Bold.woff2") format("woff2"),
    url("./fonts/HelveticaRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.woff2") format("woff2"),
    url("./fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.woff2") format("woff2"),
    url("./fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica-BoldOblique.woff2") format("woff2"),
    url("./fonts/Helvetica-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-LightItalic.woff2") format("woff2"),
    url("./fonts/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.woff2") format("woff2"),
    url("./fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"),
    url("./fonts/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Italic.woff2") format("woff2"),
    url("./fonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.woff2") format("woff2"),
    url("./fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraLightItalic.woff2") format("woff2"),
    url("./fonts/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-BlackItalic.woff2") format("woff2"),
    url("./fonts/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraLight.woff2") format("woff2"),
    url("./fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.woff2") format("woff2"),
    url("./fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-BoldItalic.woff2") format("woff2"),
    url("./fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("./fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Thin.woff2") format("woff2"),
    url("./fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.woff2") format("woff2"),
    url("./fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("./fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-MediumItalic.woff2") format("woff2"),
    url("./fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ThinItalic.woff2") format("woff2"),
    url("./fonts/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("./fonts/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

.front {
  display: block;
  padding: 12px 42px;
  color: white;
  transform: translateY(-6px);
  background: rgb(0, 0, 0);
  border: 1px solid #3a3a3a;
  border-radius: 24px;
}

.pushable {
  background: rgb(46, 44, 45);
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  border-radius: 24px;
}

.pushable:active .front {
  transform: translateY(0px);
}

.front:hover{
  background: #f1b913;
  color: black;
}

.pushable:hover{
  background: #876d1e;
}

.active{
  transform: translateY(0px);
  border: none;
  background: #f1b913;
  color: black;
}